.app-header{
    background-color: black;
    padding: 10px 10px 8px 10px;
    height: 40px;
}

.login-button{
    float: right;
}

.app-logo {
    animation: app-logo-spin infinite 8s ease;
    height: 35px;
    background: #ff7f7f;
 }
 
 @keyframes app-logo-spin {
    from { transform: scaleX(-1); }
 }